{% extends "admin/base.html" %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Add OAuth2 client</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			{% include "components/errors.html" %}

			<form method="post" accept-charset="utf-8" autocomplete="off" enctype="multipart/form-data">
				<div class="form-group">
					<b>{{ form.name.label }}</b>
					{{ form.name(class="form-control") }}
				</div>
				<div class="form-group">
					<b>{{ form.client_id.label }}</b>
					{{ form.client_id(class="form-control") }}
				</div>
				<div class="form-group">
					<b>{{ form.client_secret.label }}</b>
					{{ form.client_secret(class="form-control") }}
				</div>
				<div class="form-group">
					<b>{{ form.access_token_url.label }}</b>
					{{ form.access_token_url(class="form-control") }}
				</div>
				<div class="form-group">
					<b>{{ form.authorize_url.label }}</b>
					{{ form.authorize_url(class="form-control") }}
				</div>
				<div class="form-group">
					<b>{{ form.api_base_url.label }}</b>
					{{ form.api_base_url(class="form-control") }}
				</div>
				<div class="form-group">
					<b>{{ form.scope.label }}</b>
					{{ form.scope(class="form-control") }}
					<small class="form-text text-muted">
						{{ form.scope.description }}
					</small>
				</div>

				<div class="form-group">
					<b>{{ form.text_color.label }}</b>
					{{ form.text_color(class="form-control") }}
				</div>
				<div class="form-group">
					<b>{{ form.background_color.label }}</b>
					{{ form.background_color(class="form-control") }}
				</div>

				<div class="form-group">
					<b>{{ form.icon.label }}</b>
					{{ form.icon(class="form-control-file", accept=".png") }}
					<small class="form-text text-muted">
						{{ form.icon.description }}
					</small>
				</div>

				<div class="row">
					<div class="col">
						{{ form.submit(class="btn btn-md btn-primary btn-outlined") }}
					</div>
				</div>

				{{ form.nonce() }}
			</form>
		</div>
	</div>
</div>
{% endblock %}