{% include "components/errors.html" %}

<form method="post" accept-charset="utf-8" autocomplete="off" enctype="multipart/form-data">

	<!-- DISPLAY -->
	<div class="card mb-4">
		<div class="card-header">
			<h5 class="mb-0">Display</h5>
		</div>

		<div class="card-body">
			<div class="form-group">
				<b>{{ form.id.label }}</b>
				{{ form.id(class="form-control", placeholder="e.g. my-provider") }}
				<small class="form-text text-muted">Unique identifier for this provider</small>
			</div>
			<div class="form-group">
				<b>{{ form.name.label }}</b>
				{{ form.name(class="form-control", placeholder="e.g. My Identity Provider") }}
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<b>{{ form.text_color.label }}</b>
						{{ form.text_color(class="form-control") }}
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<b>{{ form.background_color.label }}</b>
						{{ form.background_color(class="form-control") }}
					</div>
				</div>
			</div>
			<div class="form-group">
				<b>{{ form.icon.label }}</b>
				{{ form.icon(class="form-control-file", accept=".png") }}
				<small class="form-text text-muted">
					{{ form.icon.description }}
				</small>
			</div>
			<div class="form-group">
				<b>{{ form.display_order.label }}</b>
				{{ form.display_order(class="form-control") }}
				<small class="form-text text-muted">Lower numbers appear first</small>
			</div>
		</div>
	</div>

	<!-- OAUTH2 SETTINGS -->
	<div class="card mb-4">
		<div class="card-header">
			<h5 class="mb-0">OAuth2 Settings</h5>
		</div>
		<div class="card-body">
			<div class="form-group">
				<b>{{ form.authorize_url.label }}</b>
				{{ form.authorize_url(class="form-control") }}
			</div>
			<div class="form-group">
				<b>{{ form.access_token_url.label }}</b>
				{{ form.access_token_url(class="form-control") }}
			</div>
			<div class="form-group">
				<b>{{ form.user_info_url.label }}</b>
				{{ form.user_info_url(class="form-control") }}
			</div>
			<div class="form-group">
				<b>{{ form.server_metadata_url.label }}</b>
				{{ form.server_metadata_url(class="form-control") }}
			</div>

			<hr class="mb-4">

			<div class="form-group">
				<b>{{ form.client_id.label }}</b>
				{{ form.client_id(class="form-control") }}
			</div>
			<div class="form-group">
				<b>{{ form.client_secret.label }}</b>
				{{ form.client_secret(class="form-control") }}
			</div>
			<div class="form-group">
				<b>{{ form.scope.label }}</b>
				{{ form.scope(class="form-control") }}
				<small class="form-text text-muted">
					{{ form.scope.description }}
				</small>
			</div>
		</div>
	</div>

	<!-- PROFILE CLAIMS -->
	<div class="card mb-4">
		<div class="card-header">
			<h5 class="mb-0">Profile Claims</h5>
		</div>

		<div class="card-body">
			<div class="form-group">
				<b>{{ form.username_claim.label }}</b>
				{{ form.username_claim(class="form-control") }}
				<small class="form-text text-muted">If not defined, the email field will be used.</small>
			</div>
			<div class="form-group">
				<b>{{ form.email_claim.label }}</b>
				{{ form.email_claim(class="form-control") }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			{{ form.submit(class="btn btn-md btn-primary btn-outlined") }}
		</div>
	</div>

	{{ form.nonce() }}
</form>